.xplor__button {
    display: block;
    width: max-content;
    margin: auto;
    background-image: linear-gradient(#FF79DA, #9356DC);
    color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #c4c3c0;
    padding: 15px 20px;
    font-weight: bold;
    transform: scale(1);
    transition: transform 500ms;
    opacity: 1;
    @include btn-start;
    & span{
    font-size: 1rem;
  }
  &:hover{
    opacity: 0.8;
    box-shadow: 2px 2px 20px black;
  }
}